@import '../../Assets/styles/variables.scss';

.courses-container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    max-width: 100%;
}

@media only screen and (min-width: $tabletScreen){
    .courses-container{
        flex-flow: row wrap;
    }

}

.courses-menu{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    
    .course-category-button{
        border:none;
        background: none;
        color:#2C83D3;
        cursor:pointer;
        margin: 0 1em;
        font-size: 1.1em;
    }
}