@import "../../Assets/styles/variables.scss";

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e0e0e0;
  padding:1em 0;
}

.navbar {
  display: flex;

  ul > li {
    display: inline;
    a {
      text-decoration: none;
      color: $darkGrey;
      font-size: 1.2em;
    }
    & + li {
      margin-left: 2em;
    }
  }
}

.mobile-menu-dropdown {
  position: absolute;
  align-items: center;
  right: 0;
  top: 60px;
  background-color: rgb(179, 179, 179);
  width: 40%;
  height: 100%;

  .dropdown-section {
    margin:1.4em;

    & > * + * {
        margin-top:1.1em;
    }
    a {
      display: block;
      font-size: 1.6em;
      color: white;
      text-decoration: none;
    }
  }
}

.mobile-menu-button {
  display: block;
  background: url('../../Assets/images/icons/hamburger.png');
  width:30px;
  height:30px;
  border:none;
  background-size: cover;
  cursor:pointer;
}

.logo {
  font-size: 1.2em;
  color: rgb(40, 40, 109);
}

.desktop-view {
  display: none;
}

.login-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 16em;

  .user-name {
    font-size: 1.3em;
  }
  & > * + * {
    margin-right: 10px;
  }
}

@media only screen and (min-width: $desktopScreen) {

  .navbar-container{
    padding: 1em;

  }
  .mobile-menu-button {
    display: none;
  }
  .mobile-menu-dropdown {
    display: none;
    align-items: center;
  }

  .desktop-view {
    display: flex;
    align-items: center;
  }
}
